{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    [
      "module-alias",
      [
        {
          "src": "./modules/user",
          "expose": "userModule"
        },
        {
          "src": "./lib",
          "expose": "lib"
        }
      ]
    ]
  ]
}