</div>
<footer class="container text-center">
    <ul class="list-inline social-icon">
        <li>
            <a href="http://www.twitter.com/" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </li><li>
            <a href="https://www.facebook.com/" target="_blank">
                <i class="fa fa-facebook-f"></i>
            </a>
        </li><li>
            <a href="http://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
    <div class="clearfix margin-top-30">
        <span class="">Interview app</span>
        <p class="text-center text-muted">© Copyright 2018 <a href="#">Ajinkya Kathe</a></p>
    </div>
</footer>
</body>
</html>