<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <meta charset=”UTF-8">
        <meta http-equiv=”X-UA-Compatible” content=”IE=edge”>
        <title> Welcome <%= title %></title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            .margin-top-70{margin-top: 70px;}
            .margin-top-10{margin-top: 10px;}
            .margin-top-30{margin-top: 30px;}
            .app-btn{
                color: #fff;
                background-color: rgb(222, 49, 39);
                font-weight: 700;
                font-style: normal;
                cursor: pointer;
                border-radius: 20px;
                font-size: 12px;
                text-transform: uppercase;
                padding: 8px 15px;
            }
            .app-btn:hover{color: #fff;}
            .logo{width: 70px;}
            .logo-light{display: none;}
            .social-icon li{margin-right: 20px;}
            .social-icon li:last-child{margin-right: 0px;}
            .social-icon a{color: #a2a2a2;}
            .social-icon a:hover{color: #666;}
            .social-icon a i{font-size: 20px;}
            .error-message{color: red; font-size:12px}
            footer{color: #bdbdbd;margin-top: 70px;}
            .display-block{display: block;}
            .navbar-inverse{background: #fff; border: none;box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.04);
                min-height: 55px;}
            .welcome-login{font-size:12px; color: #000; margin-right: 30px;}
            .logout, .logout:hover{background:#ddd; color:#000;}
            .nav>li>a{padding:5px 10px;}
            .nav>li>a:hover{color:#000;}
            .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse
            .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
            {color:#000;background: none;}
            .min-height-300{min-height: 310px;}
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">